@font-face {
    font-family: instrumentFont;
    src: url("src/fonts/InstrumentSerif-Regular.ttf");
}

button, h2, h3, h4, span {
    color: #BA6B57;
}

form, h1, option, select{
    color:#E0A387;
}

body {
    background-color: #F2E1C9;
    font-family: instrumentFont, serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;